<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Roboto+Condensed&family=Ubuntu:ital,wght@1,500&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="row">
        <div class="col-12 header">LA Pinoz Pizza</div>
    </div>
    <div class="topnav">
        <a href="#">Home</a>
        <a href="#">Our Story</a>
        <a href="#">Location</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <div class="row">
        <div class="col-12 categoryHeading">La Pino'z Going International</div>
    </div>
    <div class="row">
        <div class="col-3 sidebar">
            <h2>Veg Pizza</h2>
            <img src="images/image-1png.png">
            <h2>Classic Pizza for Classis maniacs</h2>
            <img src="images/image-2.png">
            <h2>Sides</h2>
            <img src="images/image-3.png">
            <h2>Classic Pizza Pack of 4</h2>
            <img src="images/image-4.png">
        </div>
        <div class="col-9 mainbar">
            <div class="row">
                <div class="col-12">
                    <h1 align="center">Deals and Offers</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offers">
                    <img src="images/deals-banner-two.jpg">
                </div>
                <div class="col-4 offers">
                    <img src="images/deals-banner-three.jpg">
                </div>
                <div class="col-4 offers">
                    <img src="images/deals-banner-four.jpg">
                </div>                
            </div>	
            <div class="row">
                <div class="col-4 offers">
                    <img src="images/deals-banner-four.jpg">
                </div>
                <div class="col-4 offers">
                    <img src="images/deals-banner-three.jpg">
                </div>
                <div class="col-4 offers">
                    <img src="images/deals-banner-four.jpg">
                </div>                
            </div>
            <div class="row">
                <div class="col-4 offers">
                    <img src="images/deals-banner-five.jpg">
                </div>                            
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 align="center">About Us</h1>
                </div>
            </div>		
            <div class="row">
                <div class="col-4 offers">
                    <img src="images/banner2.jpg">
                </div>
                <div class="col-8 offers">
                    Are you looking for a franchise opportunity that focuses on good, quality food? If yes, then we are proud to offer pizza franchise opportunities across the states to people who have the same goals as we do: To serve great food made from fresh ingredients in a great atmosphere.
                </div>
            </div>	
            <div class="row">               
                <div class="col-8 offers">
                    Investing in La Pinoz franchise gives you the independence of being a business owner along with the support of our outstanding brand and experienced network. So be a part of the bigger network and a winning brand that keeps customers coming back for delicious Pizzas just the way they want!
                </div>
                <div class="col-4 offers">
                    <img src="images/banner3.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 align="center">Our Story</h1>
                </div>
            </div>		
            <div class="row">
                <div class="col-4 offers">
                    <img src="images/sanam-kapoor.jpg">
                </div>
                <div class="col-8 offers">
                    The story of India's fastest growing pizza place started back in 2011 when Sanam Kapoor opened his very first pizzeria in his hometown Chandigarh. Inspired by his own search for delicious pizza options, he started to wonder if there was a better way of doing pizza – and business. The last thing the world needed was another pizzeria, but maybe this one could be different and everyone could get exactly what they wanted, made fresh on demand. It all started sounding pretty great, and soon Sanam was opening the first La Pino'z in his hometown Chandigarh and there was no looking back. As of today, La Pino'z has 350+ outlets across India with the recent one opening in London.
                </div>
            </div>

        </div>
    </div>

    <div class="row footer">        
            <div class="col-6">
                <iframe class="mapFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.7096639863244!2d72.60022361437392!3d22.99770152302951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e856afc7e42c5%3A0x30c583b5a87b8261!2sLa%20Pino&#39;z%20Pizza%20Maninagar!5e0!3m2!1sen!2sin!4v1661762344834!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-6 footerInfo">
                <div class="row">
                    <h2>Payment Methods</h2>
                </div>
                <div class="row">
                    <div class="paymentMode"><img src="images/paytm.png" alt=""></div>
                    <div class="paymentMode"><img src="images/google-pay.png" alt=""></div>
                    <div class="paymentMode"><img src="images/master-card.png" alt=""></div>
                    <div class="paymentMode"><img src="images/visa.png" alt=""></div>
                </div>
                <div class="row">
                    <h2>Connect With Us</h2>
                </div>
                <div class="row">
                    <div class="SocialLink"><i class="fa fa-facebook-f sLink" style="font-size:36px"></i></div>
                    <div class="SocialLink"><i class="fa fa-instagram sLink" style="font-size:36px"></i></div>
                    <div class="SocialLink"><i class="fa fa-twitter sLink" style="font-size:36px"></i></div>
                    <div class="SocialLink"><i class="fa fa-youtube-play sLink" style="font-size:36px"></i></div>
                </div>
                <div class="row">
                    <h4 class="mail">lapinozpizza@gmail.com</h4>
                </div>
                <div class="row">
                    <h4>999-988-8822</h4>
                </div>
            </div>
        
    </div>
    
</body>
</html>